[submodule "vim/pathogen"]
	path = vim/packages/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/base16"]
	path = vim/packages/base16
	url = https://github.com/chriskempson/base16-vim
[submodule "vim/sensible"]
	path = vim/packages/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/csapprox"]
	path = vim/packages/csapprox
	url = https://github.com/godlygeek/csapprox
[submodule "fish/base16"]
	path = fish/packages/base16
	url = https://github.com/chriskempson/base16-shell
[submodule "vim/delimitMate"]
	path = vim/packages/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/repeat"]
	path = vim/packages/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/numbers"]
	path = vim/packages/numbers
	url = https://github.com/myusuf3/numbers.vim
[submodule "fish/virtualfish"]
	path = fish/packages/virtualfish
	url = https://github.com/adambrenecki/virtualfish
[submodule "vim/fish"]
	path = vim/packages/fish
	url = https://github.com/dag/vim-fish
[submodule "vim/syntastic"]
	path = vim/packages/syntastic
	url = https://github.com/scrooloose/syntastic
