[submodule "vim/packages/pathogen"]
	path = vim/packages/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/packages/base16"]
	path = vim/packages/base16
	url = https://github.com/chriskempson/base16-vim
[submodule "vim/packages/sensible"]
	path = vim/packages/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/packages/csapprox"]
	path = vim/packages/csapprox
	url = https://github.com/godlygeek/csapprox
[submodule "fish/packages/base16"]
	path = fish/packages/base16
	url = https://github.com/chriskempson/base16-shell
[submodule "vim/packages/delimitMate"]
	path = vim/packages/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/packages/repeat"]
	path = vim/packages/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/packages/numbers"]
	path = vim/packages/numbers
	url = https://github.com/myusuf3/numbers.vim
[submodule "fish/packages/virtualfish"]
	path = fish/packages/virtualfish
	url = https://github.com/adambrenecki/virtualfish
[submodule "vim/packages/fish"]
	path = vim/packages/fish
	url = https://github.com/dag/vim-fish
[submodule "vim/packages/syntastic"]
	path = vim/packages/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/packages/mathematic"]
	path = vim/packages/mathematic
	url = https://github.com/Rykka/mathematic.vim
[submodule "vim/packages/ctrlp"]
	path = vim/packages/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/packages/characterize"]
	path = vim/packages/characterize
	url = https://github.com/tpope/vim-characterize
[submodule "vim/packages/undotree"]
	path = vim/packages/undotree
	url = https://github.com/mbbill/undotree
[submodule "vim/packages/ultisnips"]
	path = vim/packages/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/packages/commentary"]
	path = vim/packages/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/packages/snippets"]
	path = vim/packages/snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/packages/cf-utils"]
	path = vim/packages/cf-utils
	url = https://github.com/davejlong/cf-utils.vim
[submodule "vim/packages/surround"]
	path = vim/packages/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/packages/coloresque"]
	path = vim/packages/coloresque
	url = https://github.com/gorodinskiy/vim-coloresque
[submodule "vim/packages/abolish"]
	path = vim/packages/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/packages/YouCompleteMe"]
	path = vim/packages/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/packages/exchange"]
	path = vim/packages/exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule "vim/packages/dart"]
	path = vim/packages/dart
	url = https://github.com/dart-lang/dart-vim-plugin
