snippet -> "Right arrow" w
→
endsnippet

snippet forall "∀" w
∀
endsnippet

snippet exists "∃" w
∃
endsnippet

snippet !exists "∄" w
∄
endsnippet

snippet in "∈" w
∈
endsnippet

snippet !in "∉" w
∉
endsnippet

snippet and "∧" w
∧
endsnippet

snippet or "∨" w
∨
endsnippet
