snippet if "cfif tags" b
<cfif ${1:condition}>
	$0
</cfif>
endsnippet

snippet query "Create query."
$1Query = new Query(
	datasource = ${3:Application.ds},
	sql = '
	$2
');$0
$1 = $1Query.execute().getResult();
endsnippet

snippet param "Add query parameter."
$1Query.addParam(
	value = $2,
	name = "${4:$2}",
	cfsqltype = "CF_SQL_$3");$0
endsnippet
